@model  AdidasNew.Models.EntityModels.countLists

@{
    ViewBag.Title = "DashBorad";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Accordion.css" rel="stylesheet" />
@*<script src="/Scripts/jquery-3.3.1.js"></script>*@
<script src="~/Scripts/scriptAccordion.js"></script>



<style>

    .label1 {
        height: 120px;
        margin: 30px;
        padding-top: 30px;
        font-family: 'BTitrBd';
        color: whitesmoke;
        font-size: 20px;
        border-radius: 65px 0px 63px 0px;
        -moz-border-radius: 65px 0px 63px 0px;
        -webkit-border-radius: 65px 0px 63px 0px;
        border: 3px none #000000;
        -webkit-box-shadow: 18px 24px 5px -6px rgba(0,0,0,0.51);
        -moz-box-shadow: 18px 24px 5px -6px rgba(0,0,0,0.51);
        box-shadow: 18px 24px 5px -6px rgba(0,0,0,0.51);
    }
</style>
<aside class="aside">
    salam
</aside>
<section class="section">
    <div>
        <div class="row">

            <div class="col-sm-12">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <a href="/admin/ListConfirmedPerson" style="text-decoration:none;">
                            <div style="background-color:darkgreen; " class="text-center label1 ">
                                <p>  افراد تایید صلاحیت شده</p>
                                <p>@Model.ConfirmedPerson نفر</p>

                            </div>
                        </a>

                    </div>
                    <div class="col-md-4 col-sm-6">
                        <a href="/admin/listnewperson" style="text-decoration:none;">
                            <div style="background-color:darkorange" class="text-center label1">
                                <p>افراد بررسی نشده</p>
                                <p>@Model.NewPerson نفر</p>
                            </div>
                        </a>


                    </div>
                    <div class="col-md-4 col-sm-6">
                        <a href="/UsersAdmin/Index" style="text-decoration:none;">
                            <div style="background-color:rebeccapurple" class="text-center label1">
                                ناظران
                            </div>
                        </a>


                    </div>

                    <div class="col-md-4 col-sm-6">
                        <a href="/admin/ListNotConfirmedPerson" style="text-decoration:none;">
                            <div style="background-color:darkred" class="text-center label1">
                                <p>افراد رد صلاحیت شده</p>
                                <p>@Model.NotConfirmedPerson نفر</p>
                            </div>
                        </a>


                    </div>

                    <div class="col-md-4 col-sm-6">
                        <a href="#" style="text-decoration:none;">
                            <div style="background-color:darkblue" class="text-center label1">
                                کارمندان
                            </div>
                        </a>


                    </div>

                    <div class="col-md-4 col-sm-6">
                        <a href="#" style="text-decoration:none;">
                            <div style="background-color:black" class="text-center label1">
                                افراد مستعفی
                            </div>
                        </a>


                    </div>

                    <div class="col-md-4 col-sm-6">
                        <a href="#" style="text-decoration:none;">
                            <div style="background-color:red" class="text-center label1">
                                اخراج شده
                            </div>
                        </a>


                    </div>
                </div>
            </div>



        </div>
    </div>
</section>



@section scriptss{
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $("#menu").accordion();
            $(".colors a").click(function () {
                if ($(this).attr("class") != "default") {
                    $("#menu").removeClass();
                    $("#menu").addClass("menu").addClass($(this).attr("class"));
                } else {
                    $("#menu").removeClass();
                    $("#menu").addClass("menu");
                }
            });
        });
    </script>

}
