@model IEnumerable<AdidasNew.Models.DomainModels.Person>
@{
    ViewBag.Title = "ListConfirmedPerson";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <div class="row  text-center  ">
        <h1 style="color:darkgreen; font-family:'BTitrBd'">افراد تاییدصلاحیت شده</h1>
    </div>

    <div class="row">
        @Html.Partial("_TableOfPerson", Model)

    </div>



</div>