@using Stimulsoft.Report.Mvc
@{
    ViewBag.Title = "Print";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Print</h2>

<hr />

@Html.Stimulsoft().StiMvcViewer(new StiMvcViewerOptions()
{
    Theme = StiTheme.Office2003,
    ActionGetReportSnapshot = "report",
    ActionViewerEvent = "viewerEvent"
})

