
@{
    ViewBag.Title = "test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>test</h2>

@using (Html.BeginForm("test", "Admin", FormMethod.Post))
{
    @Html.TextBox("Name")



    <input type="submit" value="yes" name="Send_sms" class="btn btn-primary" />
    <input type="submit" value="no" name="Send_sms" class="btn btn-primary" />
    @Html.Hidden("hi","mansour")
}